// Variables
// ui colors
$blue: #2185d0;
$grey: #767676;
$red: #db2828;

/* Menu */
.menu .item {
    position: relative;

    .ui.dropdown {
        position: static;
    }

    a::before,
    .ui.dropdown::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    a.active {
        cursor: initial;
        color: $grey;
    }
}

/* Main */
main {
    padding-top: 30px;
}

.container.fluid {
    padding: 0 15px;
}

h1.ui.header {
    margin-bottom: 30px;
}

h2.ui.header,
h3.ui.header {
    margin-bottom: 25px;
}

.text-center {
    text-align: center;
}

.text-red {
    color: $red;

    &:hover,
    &:focus,
    &:active {
        color: $red;
    }
}

.ui.segment {
    margin-top: 0;
}

.go-back-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    transform: translate(-7px, 16px);
    font-size: 18px;
}

.landing {
    padding-top: 30px;
}

/* Form */
.ui.form {
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    .field.inline {
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .ui.button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: 1px solid transparent;
            vertical-align: middle;
            padding-left: 15px;
            padding-right: 15px;
        }

        @media (max-width: 1200px) {

            label,
            label:first-child {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
}

.ui.form.mini-form {
    margin-bottom: 25px;
}

/* Keywords */
.keyword-menu {
    padding: 15px 0;
}

.keyword {
    display: inline;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
        .ui.label.keyword-label {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .ui.label.delete {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform: translateX(0);
            margin-right: 3px;
        }
    }

    .ui.label {
        cursor: pointer;
        transition: all 0.3s;
    }

    .ui.label.keyword-label {
        margin-left: 3px;
        margin-right: 0;
        position: relative;
        z-index: 1;

        &.grey:hover,
        &.grey:focus,
        &.grey:active {
            background-color: $blue !important;
        }

        &.blue:hover,
        &.blue:focus,
        &.blue:active {
            background-color: $grey !important;
        }
    }

    .ui.label.delete {
        margin-left: 0;
        margin-right: -27px;
        transform: translateX(-100%);

        .icon.delete {
            margin: 0;
        }
    }
}