/* Menu */
.menu .item {
  position: relative;
}

.menu .item .ui.dropdown {
  position: static;
}

.menu .item a::before,
.menu .item .ui.dropdown::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu .item a.active {
  cursor: initial;
  color: #767676;
}

/* Main */
main {
  padding-top: 30px;
}

.container.fluid {
  padding: 0 30px;
}

@media (max-width: 991px) {
  .container.fluid {
    padding: 0 15px;
  }
}

.column > .ui.segment {
  height: 100%;
  padding-top: 25px;
}

h1.ui.header {
  margin-bottom: 30px;
}

h2.ui.header,
h3.ui.header {
  margin-bottom: 25px;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #db2828;
}

.text-red:hover, .text-red:focus, .text-red:active {
  color: #db2828;
}

.text-blue {
  color: #2185d0;
}

.text-blue:hover, .text-blue:focus, .text-blue:active {
  color: #2185d0;
}

.ui.segment {
  margin-top: 0;
}

.go-back-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(-7px, 16px);
          transform: translate(-7px, 16px);
  font-size: 18px;
}

/* Form */
.ui.form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.ui.form .field.inline input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.form .field.inline .ui.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .ui.form .field.inline label,
  .ui.form .field.inline label:first-child {
    width: 100%;
    margin-bottom: 5px;
  }
}

.ui.form.mini-form {
  margin-bottom: 25px;
}

.ui.form.mini-form .inline.field {
  margin-bottom: 0;
}

/* Pages */
.landing {
  padding-top: 30px;
}

.settings .delete-account.ui.button .icon.delete {
  margin-left: 10px;
  margin-right: 0;
}

.home {
  /* Keywords */
  /* Tweets */
}

.home .keyword-menu {
  padding-bottom: 15px;
}

.home .keyword.ui.label {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home .keyword.ui.label:hover, .home .keyword.ui.label:focus, .home .keyword.ui.label:active {
  background-color: #db2828 !important;
}

.home .keyword.ui.label:hover .icon.delete, .home .keyword.ui.label:focus .icon.delete, .home .keyword.ui.label:active .icon.delete {
  margin-left: 5px;
  font-size: 1em;
}

.home .keyword.ui.label .icon.delete {
  margin-left: 0;
  font-size: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.home .icon.twitter {
  display: inline-block;
}

.home .ui.list.relaxed .item.tweet {
  padding: 10px 0;
  position: relative;
}

.home .ui.list.relaxed .item.tweet:first-child {
  padding-top: 0;
}

.home .ui.list.relaxed .item.tweet:last-child {
  padding-bottom: 0;
}

.home .ui.list.relaxed .item.tweet .header {
  padding-bottom: 5px;
}

.home .ui.list.relaxed .item.tweet a.description:hover,
.home .ui.list.relaxed .item.tweet a.description:focus,
.home .ui.list.relaxed .item.tweet a.description:active {
  color: #2185d0;
}

.home .ui.list.relaxed .item.tweet a.description::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Graph */
#graph-keyword-usation tspan,
#graph-keyword-usation text {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */